@media (max-width: 1359px ) { .right-block { max-width: 900px; width: 100%; height: auto;} .cart-right-block {margin-top: 25px;}}
@media (max-width: 1212px ) {.icons { display: none; } }
@media (max-width: 1207px ) { .right-block { max-width: 700px; width: 100%; height: auto;} }
@media (max-width: 1150px ) { .container3 {margin-bottom: 750px;} }
@media (max-width: 1082px ) { .container3 {margin-bottom: 950px;} }
@media (max-width: 1066px ) { .graficTexts {margin-top: 25px;} }
@media (max-width: 1007px ) { .right-block { max-width: 362px; width: 100%; height: auto;} }
@media (max-width: 716px ) { .container3 {margin-bottom: 1200px;} }
@media (max-width: 669px ) { .right-block { max-width: 700px; width: 100%; height: auto;} }
@media (max-width: 600px ) {.createShelf { font-size: 30px; max-width: 270px; } }
@media (max-width: 560px ) { .container3 {margin-bottom: 1500px;} }
@media (max-width: 440px ) { .heartDiv {margin: 20px 0;} }
@media (max-width: 438px ) { .container3 {margin-bottom: 2000px;} }
@media (max-width: 385px ) { .right-slide{margin-left: 35px;} }
@media (max-width: 347px ) { .container3 {margin-bottom: 2300px;} }
@media (max-width: 970px){
    .wrapper, 
    ul{display: block;}   
    .nav-a{display: block;}
    .catalog {margin-left: 45px;}  
    .burger-icon{
      color: #fff;
      display: block;
      font-size: 30px;
      position: absolute;
      cursor:pointer;}
    .menu-ul{display: none;}   
    .menu-ul.open-menu{display: block;}  
    .dropdown {margin-left: 0;}
    .slick-dots{display: none;}
  }
@media (max-width: 867px ) {.dropdown:hover .dropdown-content {display: none;}}
@media (max-width: 430px ) {.delete {margin-bottom: 25px;}}