@media (max-width: 1212px ) {.icons { display: none; } }
@media (max-width: 1108px ) {.navigation-block-other { display: none;}}
@media (max-width: 600px ) {.createShelf { font-size: 30px; max-width: 270px; } }
@media (max-width: 1001px){
    .wrapper, 
    ul{
      display: block;
    }   
    .nav-a{
      display: block;
    }  
    .catalogy{
      text-align: left;
      margin-left: 30px;
    }
    .burger-icon{
      color: #fff;
      display: block;
      font-size: 30px;
      position: absolute;
      cursor:pointer;
    }
    .menu-ul{
      display: none;
    }   
    .menu-ul.open-menu{
      display: block;
    }  
    .burgerAndCatalogy {
        margin-left: 0;
    }
  }