/* header */
body {background-color: #F4F2F0;}
.logoandsearch {
    max-width: 1600px;
    width: 100%;
    height: auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    margin: 0 auto;
    padding: 29px 0;
    background-color: white;
}
.logo {
    max-width: 214px;
    width: 100%;
    height: 48px;
}
.image {width: 100%;}
.searchContainer {
    max-width: 833px;
    width: 100%;
    height: 49px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background: #F4F2F0 0% 0% no-repeat padding-box;
    border: 2px solid #5F504F14;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
} 
.searchIcon {color: #D62127;}
.fa-search:before {
    content: "\f002";
    font-size: 130%;
}
.searchBox {
    border: 0;
    flex: 1;
    max-width: 833px;
    width: 100%;
    height: 49px;
    background: #F4F2F0 0% 0% no-repeat padding-box;
    margin-left: 30px;
    font-size: 18px;
}
.searchBox::placeholder {color: #b0bac5;}
.icons {
    max-width: 148px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icon {
    max-width: 27px;
    width: 100%;
    height: 25px;
}
.icon-a,
.heart-icon {
    color: #D62127;
    font-size: 25px;
}
.header-wraper{
    background: #EA3339;
    position: relative;
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.wrapper{
    max-width: 1600px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.menu-ul{display: flex;}
.nav-li {
    max-width: 234px;
    width: 100%;
    height: 60px;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.nav-li:hover {background-color: #D62127;}
.burger-icon {
    display: block;
    font-size: 30px;
    color: #fff;
    margin-top: 5px;
}
.nav-a {
    margin-left: 25px;
    color: white;
    font-size: 20px;
}
.catalog {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.burgerAndCatalogy {
    max-width: 234px;
    width: 100%;
    height: 60px;
    background-color: #D62127;
    display: flex;
    padding: 11px 22px;
    margin-left: 90px;
}
.menu-ul {
    max-width: 641px;
    width: 100%;
    height: auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F4F2F0;
    max-width: 830px;
    width: 100%;
    height: auto;
    padding: 50px;
    z-index: 1;
    border-radius: 10px;
    margin-left: 90px;
} 
.dropdown-list {color: black;}
.burgerAndCatalogy:hover + .dropdown-content {display: flex;} 
.catalogy,
.fa-bars {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.hover-text-on-navigation {
    max-width: 967px;
    width: 100%;
    height: auto;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F4F2F0;
    border-radius: 7px;
    padding: 25px;
    margin-top: 20px;
    position: absolute;
}
.lists {
    max-width: 190px;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 50px;
}
.nav-a {
    font-size: 20px;
    color: white;
}
.listDiv {
    margin-bottom: 20px;
    margin-right: 50px;
    max-width: 200px;
    width: 100%;
    height: auto;
}
.carousel1 {
    max-width: 1600px;
    width: 100%;
    height: 775px;
    position: relative;
    margin: 0 auto;
}
ul.slides {
    display: block;
    position: relative;
    height: 775px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.slides * {user-select: none;}
ul.slides input {display: none; }
.slide-container { display: block; }
.slide-image {
    background-image: url(../images/doctor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   
.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}
.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}
.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}
.slide-image:hover + .carousel-controls label{opacity: 0.5;}
.carousel-controls label:hover {opacity: 1;}
.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}
.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}
.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}
.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    margin: 10px;
}
input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .carousel-controls label {display: block; }
input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {opacity: 1;}
input:checked + .slide-container .nav label { display: block; }
.learnMore {
    max-width: 205px;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF21;
    border: #FFFFFF 1px solid;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 5%;
    padding: 13px 29px;
}
.learnMore-a {
    color: #3C3939;
    font-size: 22px;
}
.createShelf {
    max-width: 470px;
    width: 100%;
    height: auto;
    font-size: 40px;
    left: 5%;
    top: 25%;
    position: absolute;
}
/* section */
.first-page-section {
    margin: 76px auto;
    max-width: 1600px;
    width: 100%;
    height: auto;
}
.online-informations {
    max-width: 1416px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.informationDiv {
    max-width: 460px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.red-circle {
    max-width: 84px;
    width: 100%;
    height: 84px;
    border: 3px solid #E45055;
    border-radius: 50px;
    padding: 18px;
    margin: 26px auto;
}
.informationDiv-title {
    max-width: 193px;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: auto;
}
.informationDiv-paragraph {
    max-width: 344px;
    width: 100%;
    height: auto;
    color: #6A6A68;
    font-size: 20px;
    margin: 25px auto;
}
.slider {
    max-width: 1441px;
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px;
    margin: 0 auto;
}
.slick-prev:before, .slick-next:before {
    font-size: 70px;
    width: 50px;
    background-color: red;
}
.slick-next {right: 2%;}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{outline: none;}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{transform: translate3d(0, 0, 0);}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
 }
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-sliderr {
    margin: 50px auto;
}
.slick-arrow {
    max-width: 65px;
    width: 100%;
    height: 65px;
    color: red;
    background-color: white;
    border-radius: 50px;
    border: red 2px solid;
    margin: 10px 0;
}
.slider_item {
    max-width: 360px;
    width: 100%;
    height: auto;  
    background-color: white;
    margin-left: 25px;
    padding: 25px;
    border-radius: 10px;
}
.fa-star {
    color: #FFBE0B;
    font-size: 10px;
}
.fa-heart {font-size: 22px;}
.star-and-heart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}
.slick-slider-block-title1 {font-size: 22px; margin-top: 30px;}
.slick-slider-block-title2 {font-size: 18px; margin: 20px 0;}
.priceAndBuy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.price {
    max-width: 130px;
    width: 100%;
    height: auto; 
    font-size: 24px;
}
.buy {
    max-width: 100px;
    width: 100%;
    height: auto;  
    border-radius: 15px;
    border: #E93338 1px solid;
    padding: 10px 25px;
}
.buyText{color: black;}
.medicine {
    max-width: 203px;
    width: 100%;
    height: auto;
}
.brands-block {
    max-width: 340px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}
.photo {
    max-width: 340px;
    width: 100%;
    height: auto;
}
.dateTime {
    color: #EA3339;
    font-size: 14px;
    margin: 20px 0;
}
.brands-paragraph {
    max-width: 280px;
    width: 100%;
    height: 100px;
    color: #6A6A68;
    font-size: 16px;
}
.leaders-onsell {
    max-width: 250px;
    width: 100%;
    height: auto;
    color: #2E2A2A; 
    font-size: 22px;
    margin: 30px auto;
}
.container-OfBox{
    position: relative;
    max-width: 1441px;
    width: 100%;
    height: auto;
    margin-bottom: 700px;
}
.box{
  max-width: 500px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}
.box span{
    max-width: 227px;
    height: auto;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}
.all-sales {
    font-size: 22px;
    color: #D6D6D6;
}
.all-sales:hover{color: black;}
.box span.active p{color: #fff;}
.boxes{
    position: relative;
    width: 100%;
    height: auto;
}
.price__boxes{
    position: relative;
    width: 100%;
    height: auto;
}
.price__box{
    width: 100%;
    position: absolute;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0;
    pointer-events: none;
}
.price__box.show{
    opacity: 1;
    pointer-events: all;
}

.catalogy-of-products {
    max-width: 1441px;
    width: 100%;
    height: auto;
    margin: 700px auto 0;
}
.productCatalogy {
    max-width: 282px;
    width: 100%;
    height: auto;
    color: #305361;
    font-size: 22px;
    margin: auto;
}
.catalog-block {
    max-width: 277px;
    width: 100%;
    height: 277px;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.catalogy-blocks {
    max-width: 1441px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.catalog-img,
.catalog-text {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin: auto;
}
.images {
    max-width: 108px;
    width: 100%;
    height: 108px;
    margin-bottom: 25px;
}
.iphone-and-mobileApp {
    max-width: 1441px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 75px auto;
}
.iphone-11 {
    max-width: 835px;
    width: 100%;
    height: auto;
}
.mobileApp {
    max-width: 464px;
    width: 100%;
    height: auto; 
    margin-left: 30px;
}
.mobileApp-title {
    font-size: 35px;
    color: #EA3339;
    margin-bottom: 30px;
}
.mobileApp-li {
    font-size: 16px;
    color: #6A6A68;
    margin-bottom: 15px;
}
.fa-circle {
    color: #b9252a;
    font-size: 12px;
    margin-right: 15px;
}
.appstore-an-googlplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}
/* footer */
.footer {
    max-width: 1600px;
    width: 100%;
    height: auto;
    background-color: #6A6A68;
    padding: 50px 83px;
    margin: 0 auto;
}
.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-first-block {
    max-width: 240px;
    width: 100%;
    height: auto;
}
.footer-lists-block {
    max-width: 240px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 220px;
    width: 100%;
    height: auto;
}
.card-a {
    font-size: 35px;
    color: white;
}
.company {
    font-size: 18px;
    color: white;
    margin-bottom: 23px;
}
.footer-lists-nav {
    max-width: 720px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-a {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}
.footer-li {margin-bottom: 10px;}
.online-help {
    max-width: 225px;
    width: 100%;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #CE383C;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    display: flex;
}
.help {
    max-width: 227px;
    width: 100%;
    height: auto;
    padding: 5px;
}
.onlineHelpText {
    color: #CE383C;
    font-size: 16px;
    margin-left: 11px;
}
.copyright {
    max-width: 240px;
    width: 100%;
    height: auto;
    font-size: 13px;
    color: white;
}
.cardsAndCopy {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* catalogue */
.medicines-div {
    background-color: white;
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 0 auto;
}
.catalogue-medicine,
.catalogue-a {
    color: #7D8078;
    font-size: 20px;
    margin-bottom: 13px;
}
.catalogue-main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin-top: 35px;
}
.left-block {
    max-width: 290px;
    width: 100%;
    height: auto;
}
.right-block {
    max-width: 1118px;
    width: 100%;
    height: auto;
}
.filter {
    max-width: 290px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.option {
    max-width: 262px;
    width: 100%;
    height: 30px;
    border: none;
    color: grey;
    font-size: 18px;
    margin-top: 20px;
}
.lists-and-sort {
    max-width: 1118px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sorting {
    max-width: 390px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}
.fa-list {
    font-size: 30px;
    color: #7D8078;
}
.option2 {
    max-width: 262px;
    width: 100%;
    height: 30px;
    border: 1px solid #CCCCCC;
    color: grey;
    font-size: 18px;
}
.sorter {
    color: #707070;
    font-size: 18px;
}
.yourEmail {
    max-width: 288px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 25px;
    margin-top: 35px;
}
.email-div {
    max-width: 288px;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}
.next {
    max-width: 32px;
    width: 100%;
    height: 29px;
    background-color: #EA3339;
    border-radius: 0 10px 10px 0;
    font-size: 22px;
    color: white;
    padding: 3px;
    border: #EA3339 1px solid;
}
.email {
    max-width: 204px;
    width: 100%;
    height: 29px;
    border-radius: 10px;
    border: none;
    background-color: #F0EFEF;
    padding-left: 20px;
}
.catalogue-medicines-box {
    max-width: 1118px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
}
.medicines-box {
    max-width: 250px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}