/* header */
body {background-color: #F4F2F0;}
.logoandsearch {
    max-width: 1600px;
    width: 100%;
    height: auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
    margin: 0 auto;
    padding: 29px 0;
    background-color: white;
}
.logo {
    max-width: 214px;
    width: 100%;
    height: 48px;
}
.image {width: 100%;}
.searchContainer {
    max-width: 833px;
    width: 100%;
    height: 49px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background: #F4F2F0 0% 0% no-repeat padding-box;
    border: 2px solid #5F504F14;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
} 
.searchIcon {color: #D62127;}
.fa-search:before {
    content: "\f002";
    font-size: 130%;
}
.searchBox {
    border: 0;
    flex: 1;
    max-width: 833px;
    width: 100%;
    height: 49px;
    background: #F4F2F0 0% 0% no-repeat padding-box;
    margin-left: 30px;
    font-size: 18px;
}
.searchBox::placeholder {color: #b0bac5;}
.icons {
    max-width: 148px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icon {
    max-width: 27px;
    width: 100%;
    height: 25px;
}
.icon-a,
.heart-icon {
    color: #D62127;
    font-size: 25px;
}
.header-wraper{
    background: #EA3339;
    position: relative;
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.wrapper{
    max-width: 1600px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.menu-ul{display: flex;}
.nav-li {
    max-width: 234px;
    width: 100%;
    height: 60px;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.nav-li:hover {background-color: #D62127;}
.burger-icon {
    display: block;
    font-size: 30px;
    color: #fff;
}
.nav-a {
    margin-left: 25px;
    color: white;
    font-size: 20px;
}
.catalog {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
}
.menu-ul {
    max-width: 641px;
    width: 100%;
    height: auto;
}
.dropdown {
    position: relative;
    display: flex;
    max-width: 234px;
    width: 100%;
    height: 60px;
    background-color: #D62127;
    margin-left: 50px;
    padding-top: 15px;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 830px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
    top: 95%;
    z-index: 1;
    border-radius: 10px;
}
.dropdown:hover .dropdown-content {display: flex;}
.dropdown-list {color: black;}
.catalogy,
.fa-bars {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.hover-text-on-navigation {
    max-width: 967px;
    width: 100%;
    height: auto;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F4F2F0;
    border-radius: 7px;
    padding: 25px;
    margin-top: 20px;
    position: absolute;
}
.lists {
    max-width: 190px;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 50px;
}
.nav-a {
    font-size: 20px;
    color: white;
}
.listDiv {
    margin-bottom: 20px;
    margin-right: 50px;
    max-width: 200px;
    width: 100%;
    height: auto;
}
.carousel1 {
    max-width: 1600px;
    width: 100%;
    height: 775px;
    position: relative;
    margin: 0 auto;
}
ul.slides {
    display: block;
    position: relative;
    height: 775px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}
.slides * {user-select: none;}
ul.slides input {display: none; }
.slide-container { display: block; }
.slide-image {
    background-image: url(../images/doctor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   
.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}
.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}
.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}
.slide-image:hover + .carousel-controls label{opacity: 0.5;}
.carousel-controls label:hover {opacity: 1;}
.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}
.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}
.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}
.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    margin: 10px;
}
input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .carousel-controls label {display: block; }
input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {opacity: 1;}
input:checked + .slide-container .nav label { display: block; }
.learnMore {
    height: 54px;
    background-color: #FFFFFF21;
    border: #FFFFFF 1px solid;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 5%;
    padding: 13px 29px;
}
.learnMore-a {
    color: #3C3939;
    font-size: 22px;
}
.createShelf {
    max-width: 470px;
    width: 100%;
    height: auto;
    font-size: 40px;
    left: 5%;
    top: 25%;
    position: absolute;
}
/* section */
.first-page-section {
    margin: 76px auto;
    max-width: 1600px;
    width: 100%;
    height: auto;
}
.online-informations {
    max-width: 1416px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.informationDiv {
    max-width: 460px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}
.red-circle {
    max-width: 84px;
    width: 100%;
    height: 84px;
    border: 3px solid #E45055;
    border-radius: 50px;
    padding: 18px;
    margin: 26px auto;
}
.informationDiv-title {
    max-width: 193px;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: auto;
}
.informationDiv-paragraph {
    max-width: 344px;
    width: 100%;
    height: auto;
    color: #6A6A68;
    font-size: 20px;
    margin: 25px auto;
}
.main-div-for-slider {
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 25px;
}
.carousel {
    align-items: center;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    height: auto;
    position: relative;
    margin: 90px auto;
}
.carousel__item,
.carousel__item--hidden {display: none;}
.imagess {
    margin-left: 25px;
    max-width: 340px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}
.carousel__item--visible {
    display: flex;
    animation: fade 900ms ease-in-out;
}
@keyframes fade{
     0%{transform: translatex(-100%);} 
    100%{transform: translatex(0);}
}
.carousel__action{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    max-width: 150px;
    width: 100%;
    height: 50px;
    right: 15%;
}
.btn-prev,
.btn-next{
    padding:  1.6rem;
    display: inline-flex;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: #0000;
    position: relative;
}
.btn-next::before,
.btn-prev::before {
    cursor: pointer;
    content:'';
    position: absolute; 
    width: 0;
    height: 0;
}
.btn-prev::before{
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translatey(-50%);
    border: 1.2rem solid;
    border-color: #0000 teal #0000 #0000;
}
.btn-next::before{
    top: 50%;
    right: 50%;
    transform:translateX(50%) translatey(-50%);
    border: 1.2rem solid;
    border-color: #0000 #0000 #0000 teal;
}
.fa-star {
    color: #FFBE0B;
    font-size: 12px;
}
.fa-heart {font-size: 25px;}
.stars-and-heart,
.price-and-buy {
    display: flex;
    max-width: 300px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.medicine-img {
    max-width: 245px;
    width: 100%;
    height: 145px;
}
.medicine-title {
    font-size: 22px;
    margin: 20px 0;
}
.medicine-desc {
    color: #6A6A68;
    font-size: 18px;
    margin-bottom: 15px;
}
.price {
    max-width: 130px;
    width: 100%;
    height: auto; 
    font-size: 24px;
}
.buy {
    max-width: 90px;
    width: 100%;
    height: auto;  
    border-radius: 15px;
    border: #E93338 1px solid;
    padding: 10px 25px;
}
.buyText{color: black;}
.medicine {
    max-width: 203px;
    width: 100%;
    height: auto;
}
.brands-block {
    max-width: 340px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}
.photo {
    max-width: 340px;
    width: 100%;
    height: auto;
}
.dateTime {
    color: #EA3339;
    font-size: 14px;
    margin: 20px 0;
}
.brands-paragraph {
    max-width: 280px;
    width: 100%;
    height: 100px;
    color: #6A6A68;
    font-size: 16px;
}
.leaders-onsell {
    max-width: 250px;
    width: 100%;
    height: auto;
    color: #2E2A2A; 
    font-size: 22px;
    margin: 30px auto;
}

.container {
    padding: 2%;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: auto;
}
.box {
    display: none;
    /* overflow-y: scroll; */
    position: absolute;
    padding: 5px;
    z-index: 9;
    margin-top: 150px;
    left: 0;
    max-width: 1600px;
    width: 100%;
    height: auto;
}
.active .box {display: block;}
.element {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 80px;
    padding: 5px;
}
.active {background-color: aquamarine;}
.element span {
    padding: 2% 2%;
    width: 30%;
    margin: 10px 10px;
    white-space: nowrap;
}
.main-div-for-slider2 {
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 25px;
}
.carousel2 {
    align-items: center;
    max-height: 330px;
    overflow: hidden;
    max-width: 1200px;
    position: relative;
    margin: 90px auto;
}
.carousel__item2,
.carousel__item--hidden2 {display: none;}
.imagess2 {
    margin-left: 25px;
    max-width: 340px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.carousel__item--visible2 {
    display: flex;
    animation: fade 900ms ease-in-out;
}
@keyframes fade{
    0%{transform: translatex(-100%);} 
    100%{transform: translatex(0);}
}
.carousel__action2{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    max-width: 150px;
    width: 100%;
    height: 50px;
    transform: translateY(-50%);
    right: 15%;
}
.btn-prev2,
.btn-next2{
    padding:  1.6rem;
    display: inline-flex;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: #0000;
    position: relative;
}
.btn-next2::before,
.btn-prev2::before {
    cursor: pointer;
    content:'';
    position: absolute; 
    width: 0;
    height: 0;
}
.btn-prev2::before{
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translatey(-50%);
    border: 1.2rem solid;
    border-color: #0000 teal #0000 #0000;
}
.btn-next2::before{
    top: 50%;
    right: 50%;
    transform:translateX(50%) translatey(-50%);
    border: 1.2rem solid;
    border-color: #0000 #0000 #0000 teal;
}
.chipolinos {
    max-width: 340px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.date-and-year {
    font-size: 14px;
    color: #EA3339;
    margin: 25px 0;
}
.paragraph {
    max-width: 280px;
    width: 100%;
    height: auto; 
    font-size: 16px;
    color: #6A6A68;
    margin: 0 auto;
}
.catalogy-of-products {
    max-width: 1441px;
    width: 100%;
    height: auto;
    margin: 700px auto 0;
}
.productCatalogy {
    max-width: 282px;
    width: 100%;
    height: auto;
    color: #305361;
    font-size: 22px;
    margin: auto;
}
.catalog-block {
    max-width: 277px;
    width: 100%;
    height: 277px;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.catalogy-blocks {
    max-width: 1441px;
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.catalog-img,
.catalog-text {
    max-width: 150px;
    width: 100%;
    height: auto;
    margin: auto;
}
.images {
    max-width: 108px;
    width: 100%;
    height: 108px;
    margin-bottom: 25px;
}
.iphone-and-mobileApp {
    max-width: 1441px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 75px auto;
}
.iphone-11 {
    max-width: 835px;
    width: 100%;
    height: auto;
}
.mobileApp {
    max-width: 464px;
    width: 100%;
    height: auto; 
    margin-left: 30px;
}
.mobileApp-title {
    font-size: 35px;
    color: #EA3339;
    margin-bottom: 30px;
}
.mobileApp-li {
    font-size: 16px;
    color: #6A6A68;
    margin-bottom: 15px;
}
.fa-circle {
    color: #b9252a;
    font-size: 12px;
    margin-right: 15px;
}
.appstore-an-googlplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 25px;
}
/* footer */
.footer {
    max-width: 1600px;
    width: 100%;
    height: auto;
    background-color: #6A6A68;
    padding: 50px 83px;
    margin: 0 auto;
}
.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-first-block {
    max-width: 240px;
    width: 100%;
    height: auto;
}
.footer-lists-block {
    max-width: 240px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 220px;
    width: 100%;
    height: auto;
}
.card-a {
    font-size: 35px;
    color: white;
}
.company {
    font-size: 18px;
    color: white;
    margin-bottom: 23px;
}
.footer-lists-nav {
    max-width: 720px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-a {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}
.footer-li {margin-bottom: 10px;}
.online-help {
    max-width: 225px;
    width: 100%;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #CE383C;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    display: flex;
}
.help {
    max-width: 227px;
    width: 100%;
    height: auto;
    padding: 5px;
}
.onlineHelpText {
    color: #CE383C;
    font-size: 16px;
    margin-left: 11px;
}
.copyright {
    max-width: 240px;
    width: 100%;
    height: auto;
    font-size: 13px;
    color: white;
}
.cardsAndCopy {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* catalogue */
.medicines-div {
    background-color: white;
    max-width: 1600px;
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 0 auto;
}
.catalogue-medicine,
.catalogue-a {
    color: #7D8078;
    font-size: 20px;
    margin-bottom: 13px;
}
.catalogue-main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin-top: 35px;
}
.left-block {
    max-width: 290px;
    width: 100%;
    height: auto;
}
.right-block {
    max-width: 1118px;
    width: 100%;
    height: auto;
}
.filter {
    max-width: 290px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.option {
    max-width: 262px;
    width: 100%;
    height: 30px;
    border: none;
    color: grey;
    font-size: 18px;
    margin-top: 20px;
}
.lists-and-sort {
    max-width: 1118px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sorting {
    max-width: 390px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}
.fa-list {
    font-size: 30px;
    color: #7D8078;
}
.option2 {
    max-width: 262px;
    width: 100%;
    height: 30px;
    border: 1px solid #CCCCCC;
    color: grey;
    font-size: 18px;
}
.sorter {
    color: #707070;
    font-size: 18px;
}
.yourEmail {
    max-width: 288px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 25px;
    margin-top: 35px;
}
.email-div {
    max-width: 288px;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10px;
}
.next {
    max-width: 32px;
    width: 100%;
    height: 29px;
    background-color: #EA3339;
    border-radius: 0 10px 10px 0;
    font-size: 22px;
    color: white;
    padding: 3px;
    border: #EA3339 1px solid;
}
.email {
    max-width: 204px;
    width: 100%;
    height: 29px;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: #F0EFEF;
    padding-left: 20px;
}
.catalogue-medicines-box {
    max-width: 1118px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
}
.medicines-box {
    max-width: 300px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.red { color: red;}
.pagination {
    max-width: 135px;
    width: 100%;
    height: auto;
    font-size: 25px;
    margin: 41px 35px 100px auto;
}
.priceColor {color: red;}
.page {color: black;}

/* product */
.product-medicine-descrip {
    max-width: 1600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto;
}
.medicine-front-back {
    max-width: 170px;
    width: 100%;
    height: 485px;
    margin-bottom: 25px;
}
.medicine-image {
    max-width: 140px;
    width: 100%;
    height: 226px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.medicine-image:nth-child(1){margin-bottom: 17px;}
.imagee2 {border-radius: 10px;}
.medicine-main-img {
    max-width: 656px;
    width: 100%;
    height: 485px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 25px;
}
.medicine-description {
    max-width: 420px;
    width: 100%;
    height: auto;
}
.h3-fontSize {
    font-size: 20px;
    color: #6A6A68;
    margin-bottom: 20px;
}
.foont{margin-top: 20px;}
.choose1 {
    max-width: 89px;
    width: 100%;
    height: 44px;
    border: red 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6A6A68;
    font-size: 19px;
}
.fa-chevron-down{color: #6A6A68;}
.line {
    max-width: 1px;
    width: 100%;
    height: 43px;
    background-color: red;
    margin-left: 8px;
}
.addBasket-heart {
    max-width: 410px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}
.addBasket {
    max-width: 317px;
    width: 100%;
    height: 62px;
    border: red 1px solid;
    border-radius: 15px;
    font-size: 20px;
    padding: 19px 59px;
    white-space: nowrap;
}
.addBasketText {color: black;}
.heartDiv {
    max-width: 81px;
    width: 100%;
    height: 62px;
    border-radius: 15px;
    background-color: red;
    padding: 18px 26px;
}
.heartBasket {
    color: white;
    font-size: 30px;
}
/* cart */
.cart-first-block {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 50px auto;
}
.payForMedicine {
    max-width: 1600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-left-block {
    max-width: 980px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.cart-first-left {
    max-width: 980px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    color: #6A6A68;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart-second-left {
    max-width: 980px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cart-second-left-img {
    max-width: 100px;
    width: 100%;
    height: auto;
}
.cart-second-left-title1 {
    max-width: 140px;
    width: 100%;
    height: auto;
}
.delete { color: red;}
.bellowLine {
    max-width: 45px;
    width: 100%;
    height: 1px;
    background-color: red;
}
.cart-right-block {
    max-width: 395px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.flex-divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.greyLine {
    max-width: 359px;
    width: 100%;
    height: 1px;
    background-color: grey;
    margin-bottom: 15px;
}
.buy2 {
    max-width: 300px;
    width: 100%;
    height: 54px;
    border: red 1px solid;
    border-radius: 12px;
    margin-top: 90px;
    padding: 10px 110px;
}
.buy2text {color: black; font-size: 24px;}
.noReturn {margin-left: 50px; margin-top: 50px;}
.cart-second-block {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 60px auto;
}
.cart-blocks {
    max-width: 1600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imeg {
    max-width: 194px;
    width: 100%;
    height: auto; 
    margin: 0 auto;
}
.seeAlso {margin-left: 50px;}
/* persinal profile */
.personal-info-block {
    max-width: 1600px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.personal-info {
    max-width: 515px;
    width: 100%;
    height: 793px; 
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 25px;
}
.info-icons {
    margin-right: 30px;
}
.info-edit {
    max-width: 878px;
    width: 100%;
    height: 793px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 25px;
}
.personalInfoTitle {
    color: #7D8078;
    font-size: 26px;
}
.photo-edit {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
}
.photo-to-edit {
    max-width: 120px;
    width: 100%;
    height: 120px;
    border-radius: 50px;
}
.change-photoText {
    color: #7D8078;
    font-size: 18px;
}
.underlinegrey {
    max-width: 152px;
    width: 100%;
    height: 1px;
    background-color: #7D8078;
    margin-top: 5px;
}
.forms-block {
    margin-top: 50px;
}
.forms {
    max-width: 692px;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    flex-direction: column;
    margin-bottom: 50px;
}
.form {
    max-width: 692px;
    width: 100%;
    height: 44px;
    background-color: #F9F9F9;
    border-radius: 5px;
    border: #707070A6 1px solid;
    margin-top: 15px;
    padding-left: 15px;
}
.form-title {
    color: #7D8078;
    font-size: 20px;
}
.save {
    max-width: 156px;
    width: 100%;
    height: 52px;
    background-color: #EC5257;
    border-radius: 15px;
    padding: 15px 45px;
    margin-top: 70px;
}
.saveText {
    color: white;
    font-size: 20px;
}
.grafic {
    display: flex;
}
.graficTexts {
    color: #7D8078;
    font-size: 20px;
    margin-left: 25px;
}
.sunday {
    margin-left: 50px;
    margin-top: 7px;
}
.telephone-grafic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 150px 0 50px 0;
}
.numberr { color: #6A6A68;}